@font-face {
    font-family: "chalk";
    src: url("../font/Sandbox\ Melodrama.ttf") format("truetype");
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: "chalk";
    color: #ffffff;
}

body {
    background-image: url('../img/Tableau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    height: 250px;
}

.global-header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.header-element1 {
    background-image: url('../img/encadrement-titre.png');
    background-repeat: no-repeat;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 500px;
    translate: -50%;
}

.header-element2 {
    background-image: url('../img/Encadrement-info-joueur.png');
    background-repeat: no-repeat;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 150px;
    width: 250px;
    padding-left: 60px;
    translate: -10%;
}

.section-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.global-section {
    background-image: url('../img/Encadrement-mode-jeu.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 50%;
    height: 50%;
}

.modejeu {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
}

.section-validé {
    background-image: url('../img/Encadrement-validé.png');
    background-repeat: no-repeat;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton {
    height: 80px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouton-validé {
    background: none;
    font-size: 100px;
    border: none;
}

.bouton-validé:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #1eff00
}

.modejeu input {
    opacity: 0;
}

input:hover+.radio-titre1 {
    transform: scale(1.2);
    color: #1eff00;
}

input:hover+.radio-titre2 {
    transform: scale(1.2);
    color: #ffbf00;
}

input:hover+.radio-titre3 {
    transform: scale(1.2);
    color: #ff0000;
}

input:checked+.radio-titre1 {
    transform: scale(1.2);
    color: #1eff00;
    animation: topBubbles1
    ease-in-out 0.75s forwards ease;
}

input:checked+.radio-titre2 {
    transform: scale(1.2);
    color: #ffbf00;
    animation: topBubbles2
    ease-in-out 0.75s forwards ease;
}

input:checked+.radio-titre3::before {
    display: block;
    transform: scale(1.2);
    color: #ff0000;
}
