@font-face {
    font-family: "titre";
    src: url("../font/Sandbox\ Melodrama.ttf") format("truetype");
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    font-family: "titre";
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Tableau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    height: 100vh;
    width: 250vh;
    padding-bottom: 150px;
    padding-right: 50px;
    background-image: url('../img/Encadrement-All.png');
    background-size: cover;
    background-position: center;
}

button {
    padding: 15px 30px;
    margin: 60px;
    background: none;
    font-size: 50px;
    border: none;
    background-image: url('../img/Encadrement-bouton.png');
    background-size: cover;
    background-position: center;
    background-size: 1500px;
    background-repeat: no-repeat;
}

button:hover {
    color: #1eff00;
}

input {
    background: none;
    border: none;
    outline: none;
    font-size: 50px;
    background-image: url('../img/Encadrement-pseudo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1100px;
    padding: 30px;
}

input::placeholder {
    color: #bba9a9;
}