@font-face {
    font-family: "titre";
    src: url("../font/Sandbox\ Melodrama.ttf") format("truetype");
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

* {
    font-family: "titre";
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/Tableau.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.section {
    background-image: url('../img/encadrement-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 99%;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-global {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.titre {
    background-image: url('../img/Soulignement-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 90px;
}

.entrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button {
    padding: 15px 30px;
    margin: 60px;
    background: none;
    font-size: 50px;
    border: none;
    background-image: url('../img/Encadrement-bouton.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button:hover {
    color: #1eff00;
}

input {
    background: none;
    background-image: url('../img/Encadrement-pseudo.png');
    border: none;
    outline: none;
    font-size: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}

input::placeholder {
    color: #bba9a9;
}

@media only screen and (max-width: 1200px) {
    .section {
        width: 70%;
    }
}

@media only screen and (max-width: 992px) {
    .section {
        width: 80%;
    }

    .titre {
        font-size: 60px;
    }

    button {
        font-size: 20px;
        margin: 15px;
    }

    input {
        font-size: 20px;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .section {
        width: 90%;
    }

    .titre {
        font-size: 40px;
    }

    button {
        font-size: 16px;
        margin: 10px;
    }

    input {
        font-size: 16px;
        padding: 8px;
    }
}

@media only screen and (max-device-width: 1633px) {

    .section {
        background-image: none;
        /* Supprime le background */
    }

    .section-global {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titre {
        font-size: 100px;
    }

    input {
        font-size: 41px;
        padding: 23px;
    }

    button {
        font-size: 50px;
        margin: 10px;
    }
}